*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
}
.header{
    width: 100%;
    height: 100vh;
    background-color: #00122e;

}
.row{

    display: flex;
    justify-content: space-between;
}
.col-1{
    flex-basis: 65%;
    position: relative;
}
.col-1 h2{
    position: absolute;
    top: 360px;
    color: #fff;
}
.col-2{
    flex-basis: 33%;
}
.host-img{
    width: 100%;
    height: 70%;
    border-radius: 15px;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.material-icons{
    color: aliceblue;
    width: 40px;
    margin: 20px;
    background-color: red;
}
.joined{
    background-color: #182842;
    border-radius: 15px;
    padding-left: 30px 40px 50px;
    color: #fff;
    

}



.joined img{
    width: 30%;
    height: 20%;
}
.para{
    color: #fff;
    font-size: 20px;
}
    
    
    

